.site-header {
  .site-title {
    font-size: 1.5em;
    line-height: 1em;
  }
  .site-nav {
    li {
      .page-link {
        &:after {
          content: "•";
          padding-left: 0.2em;
        }
      }
    }
  }
}
